
.container_content_ux{

    background: #333333;
    height: 500px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 76%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
}
.container_ux {
    MARGIN: 0PX AUTO;
    width: 250px;
   
}
.category-title1 h2{
    color: #fff;
    text-align: center;
    margin: 20px 0px;
}
.category-title1 h2 span{
   
     font-weight: 100;
     color: #fff;
}
video#player {
    width: 250px;
}
.ux_txt h2{

    color: #fff;
    font-size: 1.6em;
}

.ux_txt P{

    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    text-align: justify;
    padding: 15px;
}


.service-container{
 
    background-image: url('../img/service.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
.service-items{

    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}
.service-title{
    margin: 40px 0px;
}
.service-title h2 {
    text-align: center;
   
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 1.2em;
}
/* .service-title h2::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50px;
    width: 50px;
    height: 2px;
    background: #fff;
}
.service-title h2::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 50px;
    width: 50px;
    height: 2px;
    background: #fff;
} */

.service-title h2 strong{
    font-size: 1.2em;
}
.services{
    
   position: relative;
   
}
.service-icon i{
    font-size: 2em;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 50px
    
}
.service-content{
    
    width: 320px;
    
   
}
.service-content h2{
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    padding: 0px 20px;
    font-size: 1.1em;
    margin-left: 90px;
}
.service-content h2 strong{
    font-size: 1em;
    margin: 0px auto;
 }
.service-content p{
    /* margin: 20px auto; */
    margin: 10px 10px  20px  90px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.5em;
    font-size: 0.8em;
    padding: 0px 20px;
    text-align: justify;
}

/*-------------------------- paquetes-------------------------- */
.container_paquetes {
   
    padding-bottom: 90px;
}
.paquetes_body{

    background: #fff;
     width: 280px;
     height: 500px;;
     border-radius: 100px 0px 0px 0px;
     -moz-border-radius: 100px 0px 0px 0px;
     -webkit-border-radius: 100px 0px 0px 0px;
     border: 0px solid #000000;
     -webkit-box-shadow: 0px 0px 0px 2px rgba(212,212,212,0.59);
-moz-box-shadow: 0px 0px 0px 2px rgba(212,212,212,0.59);
box-shadow: 0px 0px 0px 2px rgba(212,212,212,0.59);
margin: 10px auto;
transition:all  0.9s;
     
}

.body_title{
    text-align: center;
    padding: 10px 0px;
}

.body_title h3{
    font-size: 1.4em;
    font-weight: 400;
    margin: 10px 0px 10px 35px;
}

.body_title p{
    font-size: 1.2em;
    padding-top: 0px;
    font-weight: 200;
  
    
}
.body_title p span{

    font-size: 1em;
    font-weight: 400;
}

.body_contenido p{

    font-size: 0.7em;
    text-align: center;
    margin-top: 9px;
    
}

.lista{

    margin: 10px 0px;
}
.lista ul {
   margin-left: 20px;
}

.lista ul li {
    list-style: none;
    padding: 5px 0px;
    text-align: left;
}
.lista ul li  a{
    font-weight: normal;
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}
.lista ul li  a span{
  
    font-size: 0.9em;
    font-weight: bold;
  
}
.ranking{
    text-align: center;
    padding-top: 10px;
}
.ranking i{
    color: #333333;
    text-align: center;
    font-size: 1.2em;
}

.paquetes_body:hover{

   background: #333333;
   transition:all  0.9s;
   -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
   -moz-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
   box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
     
}


.paquetes_body:hover .body_title h3{

    color: #fff;
       
  }
.paquetes_body:hover .body_title p{

    color: #fff;
       
  }
.paquetes_body:hover .body_contenido p{

    color: #fff;
       
  }
.paquetes_body:hover .lista ul li  a{

   color: #fff;
      
 }
 
 .paquetes_body:hover .ranking i{

    color: #fff;
       
  }
/*-------------------------- paquetes-------------------------- */

/*-------------------------- media-------------------------- */
@media (min-width: 576px) { 

    .service-content {
        
        width: 400px;
    }

 }


@media (min-width: 768px) { 

    .service-content {
       
        width: 380px;
    }
.service-content p{
    width: 270px;
}
.service-title h2::after{
    left: 150px;
}
.service-title h2::before{
   
    right: 150px;
    }


}

@media (min-width: 800px) {

    .Contenedor__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container_ux {
        display: flex;
        width: auto;
     }
     .ux_txt{
         width: 50%;
     }
     .ux_txt p{
       font-size: 1em;
       line-height: 1.5em;
    }
    .ux_video{
        width: 50%;
    }
    video#player {
        width: 390px;
    }
    .category-title1 {
        padding-top: 30px;
    }
    .container_ux {
      
        padding-top: 30px;
      
     
 }



@media (min-width: 992px) { 

    .service-content p{

        width: 370px;
    }
    .service-title h2::after{
   
        left: 270px;
       
    }
    .service-title h2::before{
       
        right:270px;
       
       }
      

    }


@media (min-width: 1200px) { 
    .service-title h2::after{
   
        left: 350px;
       
    }
    .service-title h2::before{
       
        right: 350px;
    }
 }